<app-navigation-sesion></app-navigation-sesion>
<section id="home">
    <div class="overlay py-5">
        <div class="container">
            <div class="home-text">
                <h1>Reporte No. 5</h1>
            </div>
            <div class="col-lg-12 col-md-10 col-11 mx-auto pb-5">
                <form class="formulario">
                    <div class="form-row row">
                        <!--Cui-->
                        <div class="form-group col-md-2">
                            <input [(ngModel)]='cui' type="number" name="cui" class="form-control" placeholder="Cui">
                        </div>
                        <!--Nombre-->
                        <div class="form-group col-md-2">
                            <input [(ngModel)]='nombre' type="text" name="nombre" class="form-control" placeholder="Nombre">
                        </div>
                        <!--Apellido-->
                        <div class="form-group col-md-2">
                            <input [(ngModel)]='apellido' type="text" name="apellido" class="form-control" placeholder="Apellido">
                        </div>
                        <!--Mes-->
                        <div class="form-group col-md-2">
                            <input [(ngModel)]='mes' type="number" name="mes" class="form-control" placeholder="Mes">
                        </div>
                        <!--Año-->
                        <div class="form-group col-md-2">
                            <input [(ngModel)]='anio' type="number" name="anio" class="form-control" placeholder="Año">
                        </div>
                        <ul class="section-btn text-center">
                            <a><span data-hover="Aceptar" (click)="aceptar()">Aceptar</span></a>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class='container'>
            <table class="table table-striped table-dark">
                <thead>
                    <tr class="table-dark">
                    <th class='text-dark' scope="col">Nombre</th>
                    <th class='text-dark' scope="col">Apellido</th>
                    <th class='text-dark' scope="col">Cui</th>
                    <th class='text-dark' scope="col">Entidad Financiera</th>
                    <th class='text-dark' scope="col">Tipo Cuenta</th>
                    <th class='text-dark' scope="col">Saldo Inicial</th>
                    <th class='text-dark' scope="col">Monto Transferencia</th>
                    <th class='text-dark' scope="col">fecha</th>
                    <th class='text-dark' scope="col">Tipo Transaccion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data_debitos">
                        <td>{{row.nombre}}</td>
                        <td>{{row.apellido}}</td>
                        <td>{{row.cui}}</td>
                        <td>{{row.entidadfinanciera}}</td>
                        <td>{{row.tipocuenta}}</td>
                        <td>{{row.saldo_inicial}}</td>
                        <td>{{row.montotransferencia}}</td>
                        <td>{{row.fecha}}</td>
                        <td>{{'Debito'}}</td>
                    </tr>
                    <tr *ngFor="let row of data_creditos">
                        <td>{{row.nombre2}}</td>
                        <td>{{row.apellido2}}</td>
                        <td>{{row.cui2}}</td>
                        <td>{{row.entidadfinanciera2}}</td>
                        <td>{{row.tipocuenta2}}</td>
                        <td>{{row.saldo_inicial2}}</td>
                        <td>{{row.montotransferencia}}</td>
                        <td>{{row.fecha}}</td>
                        <td>{{'Credito'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</section>


