<app-navigation-sesion></app-navigation-sesion>
<section id="home">
    <img src="assets/Imagenes/fondoHome.jpg">
    
    <div class="overlay py-5">
        <div class="container">
            <div class="home-text">
                <h1>Reportes</h1>
            </div>
        
        </div>
     
    
            
        <div class='container'>
            <table class="table table-striped table-dark">
            <thead>
                <tr class="table-dark">
                <th class='text-dark' scope="col">Reporte No</th>
                <th class='text-dark' scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Reporte1</th>
                <ul class="section-btn alinear">
                <a (click)='reporte1()'><span data-hover="Reporte1">Reporte1</span></a>
                </ul>
                </tr>

                <tr>
                <th scope="row">Reporte2</th>
                <ul class="section-btn alinear">
                <a (click)='reporte2()'><span data-hover="Reporte2">Reporte2</span></a>
                </ul>
                </tr>

                <tr>
                <th scope="row">Reporte3</th>
                <ul class="section-btn alinear">
                <a (click)='reporte3()'><span data-hover="Reporte3">Reporte3</span></a>
                </ul>
                </tr>

                <tr>
                <th scope="row">Reporte4</th>
                <ul class="section-btn alinear">
                <a (click)='reporte4()'><span data-hover="Reporte4">Reporte4</span></a>
                </ul>
                </tr>
    
                <tr>
                <th scope="row">Reporte5</th>
                <ul class="section-btn alinear">
                <a (click)='reporte5()'><span data-hover="Reporte5">Reporte5</span></a>
                </ul>
                </tr>

            </tbody>
            </table>
        </div>
  </div> 
</section>
